<%= stylesheet_link_tag "about-me" %>

<div class="about">
<div class="about-me">
    <section>
        <span class="text-1">Me chamo Gabriel Kochem Ichazo, tenho 17 de anos, atualmente estou 'cursando' informática na escola , em , Local onde nasci e moro atualmente.</span>
    </section>
</div>

    <div class="about-curri">
        <section>
            <span class="tecs">Tecnologias: <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby" width="40" height="40"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails" width="40" height="40"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/>  <%= image_tag "css-3-logo-svgrepo-com.png", class: 'css' %> <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Kotlin_Icon.svg/1024px-Kotlin_Icon.svg.png" %></span>
        </section>
    </div>
    <span class="tecs-2">Tecnologias do site: <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/ruby/ruby-original.svg" alt="ruby" width="40" height="40"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/rails/rails-original-wordmark.svg" alt="rails" width="40" height="40"/> <img src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original-wordmark.svg" alt="html5" width="40" height="40"/> <%= image_tag "css-3-logo-svgrepo-com.png", class: 'css' %> </span>
</div>

