body{
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;

}

.Index-Header{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin: 0;

}

nav {
    background-color: #666;
    padding: 10px;
    text-align: center;
    margin: 0 0 20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
}

nav a{
  color: #fff;
  margin: 0 0 0 1rem;
}

.social-media_1:hover { 
    color: #DD2A7B; 

}
  
.social-media_2:hover {
    color: #333;

}

.social-media_3:hover{
    color: indigo;

}

.social-meida_4:hover{
    color: greenyellow
}

.social-meida_5:hover{
    color: rgb(151, 27, 27);
}

.about:hover{
  color: #000;

}

.back:hover{
  color: #000;

}

.Container {
  display: flex;
  justify-content: space-evenly; 
  max-width: 600px; 
  margin: 0 auto; 
}


.content {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.content-2, .content-work{
  width: 100% / 4;
  margin: 0;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.Form, .Form-2, .Form-3, .Form-4{
  flex: 1; /* Distribui o espaço disponível igualmente entre os elementos */
  width: 300px;
  margin: 0 auto;
  margin-left: .3rem;
  margin-right: .3rem;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
  
.Form-5, .Form-6, .Form-7{
  flex: 1; 
  width: 300px;
  margin: 0 auto;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  order: -1;

}

label {
  display: block;
  margin-bottom: 5px;

}
  
select, input[type="text"] {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

}
  
input[type="submit"], .link-voltar, .link-voltar {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;

}

  
input[type="submit"]:hover, .link-voltar:hover {
  background-color: #45a049;

}
  
  /*view/home/resultado.html.erb*/
.resultado {
  margin-top: 20px;
  font-size: 18px;

}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;

}

  
.size-recomend{
  margin-top: -5px;

}